.container {
  display: flex;
  justify-content: flex-start;
  height: auto;
  background-color: #f5f5f5;
}

.categorySidebar {
  flex-shrink: 0; /* Keep sidebar visible on larger screens */
}

.content {
  flex-grow: 2;
  margin-left: 20px;
  padding: 20px;
}

.productList {
  list-style-type: none;
  padding: 0;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Default: 3 columns */
  gap: 16px; /* Space between products */
}

.productCard {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 4px;
  background-color: white;
  height: 100%;
  align-items: center;
  text-align: center;
}

.productImage {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.button {
  padding: 10px 15px;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #005bb5;
}

.buttonContainer {
  margin-top: 10px;
}

/* Responsive styles */
@media (max-width: 576px) {
  .categorySidebar {
    display: none; /* Hide the category sidebar */
  }

  .content {
    margin-left: 0; /* Remove left margin on small screens */
  }

  .gridContainer {
    grid-template-columns: 1fr; /* 1 column on small screens */
    gap: 16px; /* Space between products */
  }

  .productCard {
    margin-bottom: 16px; /* Add margin below each product card for spacing */
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .gridContainer {
    grid-template-columns: repeat(2, 1fr); /* 2 columns on medium screens */
  }
}

@media (min-width: 769px) {
  .gridContainer {
    grid-template-columns: repeat(3, 1fr); /* 3 columns on larger screens */
  }
}
